{% extends 'base.html.twig' %}

{% block title %}Willkommen!{% endblock %}

{% block body %}
    <section id="hero-bg-parallax" class="hero h-100 overflow-hidden p-0 w-100">
        <div class="bg-img-parallax bg-team"></div>
        <div class="h-100 right-10 bottom-0 position-absolute w-100">
            <div class="row align-items-center h-75 no-gutters">
                <div class="col align-self-end text-right tw-hero-text">
                    Schöne Perspektive!
                    <span class="tw-sub-hero">Zeigt was Ihr habt - zeigt Zähne!</span>
                </div>
            </div>
        </div>
        <div class="h-100 left-10 position-absolute top-25 w-100">
            <div class="row">
                <div class="text-center tw-book-now">
                    <a id="js-open-book" href="#animatedModal">
                        ONLINE<br/>
                        TERMIN<br/>
                        BUCHEN
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-yellow">
        <div class="container-fluid">
            <div class="row justify-content-center mb-7">
                <div class="col col-xl-3 col-12 bg-gray-900 text-white mobile-min-bigger">
                    <div class="row">
                        <div class="col-12 tw-box-team">
                            Darf ich vorstellen?
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12 tw-box-team-text">
                            <div class="tw-container-narrow">
                                <div class="tw-vertical-center-header">
                                    <div class="row justify-content-center fit-text-hard">
                                        <div class="col-12">
                                            <p>
                                                Alle Mitglieder unseres Teams verfügen über langjährige Erfahrung in der Zahnmedizin - und in den Tätigkeiten, die in einer Zahnarztpraxis anfallen.
                                            </p>
                                            <p>
                                                Ob Terminvereinbarung oder Prophylaxe, ob Patientenbetreuung oder Behandlung - in unserer Praxis Q60 sind Sie bei jedem Teammitglied in den allerbesten Händen.
                                            </p>
                                            <p>
                                                Freundlichkeit, Sorgfalt, Umsicht, Gesprächsbereitschaft - wir sind für Sie da, dass Sie sich bei uns rundum wohl und gut versorgt fühlen.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-3 col-12 px-0">
                    <img src="{{ asset('assets/img/q60_corinna_peschke_2.jpg') }}" class="img-fluid w-100"/>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-yellow section-divider section-team">
        <div class="row no-gutters">
            <div class="col col-xl-3 col-12 bg-gray-900 text-white mobile-min">
                <div class="tw-container">
                    <div class="tw-vertical-center fit-text">
                        &quot;Willkommen in unserer Praxis - in einem der schönsten Häuser am Kurfürstendamm, Eingang Leibnizstraße.&quot;
                        <br/>
                        &nbsp;&nbsp;&nbsp;&dash;Corinna
                    </div>
                </div>
            </div>
            <div class="col col-xl-3 col-12">
                <img src="{{ asset('assets/img/Dr_Corinna_Peschke.jpg') }}" class="img-fluid"/>
            </div>
            <div class="col col-xl-3 col-12 bg-gray-900 text-pink mobile-min">
                <div class="tw-container">
                    <div class="tw-vertical-center  fit-text">
                        &quot;Begeben Sie sich vertrauensvoll in meine erfahrenen Hände!&quot;
                        <br/>
                        <br/>
                        &nbsp;&nbsp;&nbsp;&dash;Margrit
                    </div>
                </div>
            </div>
            <div class="col col-xl-3 col-12">
                <img src="{{ asset('assets/img/Margrit_Barthel_2.jpg') }}" class="img-fluid"/>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col col-xl-3 col-12">
                <img src="{{ asset('assets/img/Stanija_Bosnjak.jpg') }}" class="img-fluid"/>
            </div>
            <div class="col col-xl-3 col-12 bg-gray-900 text-pink mobile-min">
                <div class="tw-container">
                    <div class="tw-vertical-center fit-text">
                        &quot;Sauber und rein - Prophylaxe muss sein!&quot;
                        <br/>
                        <br/>
                        &nbsp;&nbsp;&nbsp;&dash;Stanija
                    </div>
                </div>
            </div>
            <div class="col col-xl-3 col-12">
                <img src="{{ asset('assets/img/Claudia_Peschke_Klein.jpg') }}" class="img-fluid"/>
            </div>
            <div class="col col-xl-3 col-12 bg-gray-900 text-white mobile-min">
                <div class="tw-container">
                    <div class="tw-vertical-center  fit-text">
                        &quot;Ich freue mich, Sie in unserer Praxis willkommen zu heißen!&quot;
                        <br/>
                        <br/>
                        &nbsp;&nbsp;&nbsp;&dash;Claudia
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col col-xl-3 col-12 bg-gray-900 text-white mobile-min">
                <div class="tw-container">
                    <div class="tw-vertical-center  fit-text">
                        &quot;Ich möchte Ihnen Ihr Lächeln wieder ins Gesicht zaubern!&quot;
                        <br/>
                        <br/>
                        &nbsp;&nbsp;&nbsp;&dash;Anita
                    </div>
                </div>
            </div>
            <div class="col col-xl-3 col-12">
                <img src="{{ asset('assets/img/Anita_Richter.jpg') }}" class="img-fluid"/>
            </div>
            <div class="col col-xl-3 col-12 bg-gray-900 text-white mobile-min">
                <div class="tw-container">
                    <div class="tw-vertical-center  fit-text">
                        &quot;Ich gehe Ihnen ganz sanft auf die Nevern&quot;
                        <br/>
                        <br/>
                        &nbsp;&nbsp;&nbsp;&dash;Anett
                    </div>
                </div>
            </div>
            <div class="col col-xl-3 col-12">
                <img src="{{ asset('assets/img/Anett_Kluender.jpg') }}" class="img-fluid"/>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col col-xl-3 col-12 bg-gray-900">
                <img src="{{ asset('assets/img/Q60_logo_weiss.png') }}" class="img-fluid"/>
            </div>
            <div class="col col-xl-3 col-12 bg-gray-900 text-white mobile-min">
                <div class="tw-container">
                    <div class="tw-vertical-center  fit-text">
                        &quot;Zahnhygiene ohne Sorgen&quot;
                        <br/>
                        <br/>
                        &nbsp;&nbsp;&nbsp;&dash;Yvette
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('node_modules/masonyry-layout/dist/masonry.pkgd.min.js') }}"></script>
    <script>
        var get_nav = 'team';
    </script>
{% endblock %}
